* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: aliceblue;
  width: 25%;
  margin: auto;
  padding: 20px;
  margin-top: 10rem;
}

.text {
  text-align: center;
}
.input {
  text-align: center;
}

.button {
  align-items: center;
  justify-content: center;
  display: flex;
}
button {
  padding: 7px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  background-color: blue;
  top: 50%;
  left: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-input {
  padding: 20px;
  font-size: 1.2rem;
}
